@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');
@import '../../variables';

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
    margin-top: 1rem;
    width: 70%;

    .logo {
        font-family: 'Hammersmith One', sans-serif;
        font-size: 2em;
    }
}