$color-done: rgb(0, 173, 0);
$color-delete: rgb(255, 70, 37);
$color-important: rgb(0, 130, 236);
$border: 1px solid rgb(75, 75, 75);
$bg-color: rgb(37, 37, 37);
$color-message: rgb(212, 156, 0);
$color-form: rgb(44, 44, 44);
$color-form-targ: rgb(48, 48, 48);